Tugas 5 AI Pemasaran.json
{
  "name": "Tugas 5 AI Pemasaran",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        208
      ],
      "id": "9b80eeb5-3f87-4822-bd15-af6ec7138f79",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\"q\":\"\\\"NF Academy\\\" OR \\\"Nurul Fikri Academy\\\"\",\"gl\":\"id\"}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "ee06cbb883465b46bd3fc266197cf497c4d6bf4e"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "b3163ec1-992b-4618-a8f2-145b4c759f0c",
      "name": "NFA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZXTp8mGm3cXFCjza",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\"q\":\"\\\"NF Academy\\\" OR \\\"Nurul Fikri Academy\\\"\",\"gl\":\"id\"}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "sk_ceca50a62b52e35dee7bfd855d3711dbde6403d8"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        208
      ],
      "id": "add52b63-85b1-41e4-bf1d-914c59bf600b",
      "name": "BISA AI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZXTp8mGm3cXFCjza",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\"q\":\"\\\"NF Academy\\\" OR \\\"Nurul Fikri Academy\\\"\",\"gl\":\"id\"}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "fce369869410a21b30097201aa806d03902e1f01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        416
      ],
      "id": "cebd8647-0386-40df-ba33-d5220b8dcbac",
      "name": "Vinix7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZXTp8mGm3cXFCjza",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        192
      ],
      "id": "8b530048-7235-49e4-822f-c56c50dbe9ff",
      "name": "Menggabungkan Data"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst total = allItems.length;\n\nconst counts = {\n  nfa: allItems.filter(i => (i.json.brand || \"\").toLowerCase() === \"nf academy\").length,\n  bisa: allItems.filter(i => (i.json.brand || \"\").toLowerCase() === \"bisa ai\").length,\n  vinix: allItems.filter(i => (i.json.brand || \"\").toLowerCase() === \"vinix 7\").length\n};\n\nconst sov = {\n  nfa: total > 0 ? ((counts.nfa / total) * 100).toFixed(1) : 0,\n  bisa: total > 0 ? ((counts.bisa / total) * 100).toFixed(1) : 0,\n  vinix: total > 0 ? ((counts.vinix / total) * 100).toFixed(1) : 0\n};\n\nlet combinedText = \"\";\nallItems.forEach(item => {\n  const brand = item.json.brand || \"Unknown\";\n  const title = item.json.title || \"-\";\n  const snippet = item.json.snippet || \"-\";\n\n  combinedText += `[${brand}] ${title}: ${snippet}\\n\\n`;\n});\n\nreturn [\n  {\n    json: {\n      metrics: {\n        processedAt: new Date().toISOString(),\n        total_mentions: total,\n        breakdown: counts,\n        share_of_voice: sov,\n        dashboard_url: \"https://docs.google.com/spreadsheets/d/19yDBpx981bYwOzIKD7oxHG80YdfDqY_ZUmVyCIYbXNU/edit\"\n      },\n      text_for_ai: combinedText\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        208
      ],
      "id": "93c7de05-e940-4cb4-a7da-b6b6880080e8",
      "name": "Menyiapkan Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        608,
        208
      ],
      "id": "425cbce8-cacf-4531-bcb2-9363dfe767a3",
      "name": "Prompt untuk membandingkan"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        528,
        416
      ],
      "id": "6ad18b04-9e85-4c2d-a7d5-125b1375c704",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "GODPNbOtEapWrt6U",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jfqcsKeQYMUxcJfpSY7PoWW4dCECI3MGh02OEz6jvaE",
          "mode": "list",
          "cachedResultName": "data tugas 9 april",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jfqcsKeQYMUxcJfpSY7PoWW4dCECI3MGh02OEz6jvaE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1891943621,
          "mode": "list",
          "cachedResultName": "sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jfqcsKeQYMUxcJfpSY7PoWW4dCECI3MGh02OEz6jvaE/edit#gid=1891943621"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        208
      ],
      "id": "f756ec5d-3a35-49ca-9aa9-a5cd0d1c7ad1",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KTKIZdg0eKkoX2dY",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html> \n<html lang=\"id\"> \n<head> \n  <meta charset=\"UTF-8\" /> \n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/> \n  <title>Laporan Strategi Bisnis & Intelijen Kompetitif</title> \n \n  <style> \n    :root { \n      --orange: #FF6B35; \n      --blue: #2E5AAC; \n      --blue-light: #4A7DCC; \n      --gray-bg: #f8f9fa; \n      --text-dark: #333; \n      --text-light: #6c757d; \n    } \n \n    * { \n      margin: 0; \n      padding: 0; \n      box-sizing: border-box; \n    } \n \n    body { \n      font-family: Arial, Helvetica, sans-serif; \n      line-height: 1.6; \n      color: var(--text-dark); \n      background: #ffffff; \n    } \n \n    .container { \n      max-width: 1000px; \n      margin: 0 auto; \n      padding: 24px; \n    } \n \n    header { \n      background: linear-gradient(135deg, var(--blue), var(--blue-light)); \n      color: white; \n      padding: 48px 24px; \n      text-align: center; \n      border-radius: 0 0 14px 14px; \n    } \n \n    header h1 { \n      font-size: 28px; \n      font-weight: bold; \n      margin-bottom: 10px; \n    } \n \n    header p { \n      font-size: 15px; \n      opacity: 0.95; \n    } \n \n    .badge { \n      display: inline-block; \n      margin-top: 12px; \n      background: var(--orange); \n      padding: 6px 14px; \n      border-radius: 20px; \n      font-size: 13px; \n      font-weight: bold; \n    } \n \n    section { \n      background: #ffffff; \n      margin: 32px 0; \n      padding: 28px; \n      border-radius: 12px; \n      border: 1px solid #eee; \n    } \n \n    h2 { \n      font-size: 22px; \n      color: var(--blue); \n      margin-bottom: 18px; \n      padding-bottom: 8px; \n      border-bottom: 2px solid var(--orange); \n    } \n \n    h3 { \n      font-size: 18px; \n      color: var(--blue); \n      margin: 18px 0 10px; \n    } \n \n    p { \n      margin-bottom: 12px; \n    } \n \n    ul, ol { \n      margin-left: 22px; \n    } \n \n    li { \n      margin-bottom: 10px; \n    } \n \n    .highlight { \n      background: #fff4e6; \n      padding: 2px 6px; \n      border-radius: 4px; \n      font-weight: bold; \n      color: #d35400; \n    } \n \n    /* Table */ \n    table { \n      width: 100%; \n      border-collapse: collapse; \n      margin-top: 16px; \n    } \n \n    th { \n      background: var(--blue); \n      color: white; \n      padding: 12px; \n      font-size: 14px; \n    } \n \n    td { \n      padding: 12px; \n      border-bottom: 1px solid #eee; \n      font-size: 14px; \n      vertical-align: top; \n    } \n \n    .brand-bisa { background: #fff7f1; } \n    .brand-nf { background: #f1f6ff; } \n    .brand-vinix { background: #fafafa; color: #999; } \n \n    .score-bisa { color: var(--orange); font-weight: bold; } \n    .score-nf { color: var(--blue); font-weight: bold; } \n \n    .bar { \n      height: 18px; \n      border-radius: 10px; \n      margin: 6px 0 14px; \n      background: #ddd; \n      overflow: hidden; \n    } \n \n    .bar span { \n      display: block; \n      height: 100%; \n    } \n \n    .bar-bisa span { width: 53.3%; background: var(--orange); } \n    .bar-nf span { width: 46.7%; background: var(--blue); } \n \n    footer { \n      margin-top: 40px; \n      text-align: center; \n      font-size: 13px; \n      color: var(--text-light); \n    } \n \n    @media print { \n      section { page-break-inside: avoid; } \n    } \n  </style> \n</head> \n \n<body> \n \n<header> \n  <div class=\"container\"> \n    <h1>\n📊\n Laporan Strategi Bisnis & Intelijen Kompetitif</h1> \n    <p>Analisis Share of Voice (SoV) & Reputasi Digital</p> \n    <div class=\"badge\">\n📅\n 07 Januari 2026</div> \n  </div> \n</header> \n \n<div class=\"container\"> \n \n  <section> \n    <h2>\n📌\n Ringkasan Eksekutif</h2> \n    <p> \n      Dalam percakapan digital terbatas (<strong>15 mention</strong>), \n      <span class=\"highlight\">BISA AI</span> unggul tipis dengan \n      <strong>53.3% Share of Voice</strong>, sementara \n      <strong>NF Academy</strong> berada di <strong>46.7%</strong>. \n    </p> \n \n    <p><strong>BISA AI (53.3%)</strong></p> \n    <div class=\"bar bar-bisa\"><span></span></div> \n \n    <p><strong>NF Academy (46.7%)</strong></p> \n    <div class=\"bar bar-nf\"><span></span></div> \n  </section> \n \n  <section> \n    <h2>\n📢\n Analisis Share of Voice</h2> \n \n    <h3>\n🤖\n BISA AI</h3> \n    <ul> \n      <li>Fokus topikal AI & Data Science</li> \n      <li>Promosi agresif dan edukatif</li> \n      <li>Akses kursus gratis + sertifikasi</li> \n    </ul> \n \n    <h3>\n🎓\n NF Academy</h3> \n    <ul> \n      <li>Konten dominan profil statis</li> \n      <li>Minim diskusi & CTA viral</li> \n    </ul> \n  </section> \n \n  <section> \n    <h2>\n⭐\n Skor Reputasi</h2> \n    <table> \n      <tr> \n        <th>Brand</th> \n        <th>Skor</th> \n        <th>Kelebihan</th> \n        <th>Kelemahan</th> \n      </tr> \n      <tr class=\"brand-bisa\"> \n        <td><strong>BISA AI</strong></td> \n        <td class=\"score-bisa\">8.0 / 10</td> \n        <td>Relevan, gratis, online</td> \n        <td>Branding generik</td> \n      </tr> \n      <tr class=\"brand-nf\"> \n        <td><strong>NF Academy</strong></td> \n        <td class=\"score-nf\">6.5 / 10</td> \n        <td>Lokasi fisik, B2B</td> \n        <td>Konten kaku</td> \n      </tr> \n      <tr class=\"brand-vinix\"> \n        <td><strong>Vinix 7</strong></td> \n        <td>0 / 10</td> \n        <td>—</td> \n        <td>Tidak terdeteksi</td> \n      </tr> \n    </table> \n  </section> \n \n  <section> \n    <h2>\n💡\n Strategi Rekomendasi untuk NF Academy</h2> \n    <ol> \n      <li>Aktifkan konten sosial & instruktur</li> \n      <li>Tonjolkan keunggulan kelas tatap muka</li> \n      <li>Gunakan promosi berbasis hasil nyata</li> \n    </ol> \n  </section> \n \n  <footer> \n    <p>© 2026 — Laporan Strategi Bisnis & Intelijen Kompetitif</p> \n    <p>Data publik & analisis sosial media (Jan 2026)</p> \n  </footer> \n \n</div> \n \n</body> \n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1152,
        208
      ],
      "id": "3f444e9f-141d-4ef0-8f9d-e9d31691ab99",
      "name": "HTML"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "sk_768337a6fa470c84184f3796561b6a19aa27f585"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        208
      ],
      "id": "34e1b01c-b6a6-494d-add2-5af32a7d5fd7",
      "name": "HTML to PDF"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "1766066504",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        208
      ],
      "id": "2f845c15-9e63-49cf-908e-3303008a087b",
      "name": "Kirim Ke Telegram",
      "webhookId": "70b29be3-0766-4b57-b168-aaa30c52f5fe",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "NFA",
            "type": "main",
            "index": 0
          },
          {
            "node": "BISA AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vinix7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BISA AI": {
      "main": [
        [
          {
            "node": "Menggabungkan Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Vinix7": {
      "main": [
        [
          {
            "node": "Menggabungkan Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "NFA": {
      "main": [
        [
          {
            "node": "Menggabungkan Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menggabungkan Data": {
      "main": [
        [
          {
            "node": "Menyiapkan Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menyiapkan Data": {
      "main": [
        [
          {
            "node": "Prompt untuk membandingkan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt untuk membandingkan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prompt untuk membandingkan": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to PDF": {
      "main": [
        [
          {
            "node": "Kirim Ke Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "412a8c31-3b81-48e7-b34a-ae4f77cf1b62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdda6c5a178fd429ae4e8a2b8a0fde1535e9d34e75c3c9330c0155f848e4432c"
  },
  "id": "WpKNZzEfVRnVlTBx",
  "tags": []
}