Tugas 7 Implementasi Pemasaran.json
{
  "name": "Tugas 7 Implementasi Pemasaran",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1648,
        656
      ],
      "id": "f17ff3c4-9ba5-4ee1-b001-bcd227eeceb5",
      "name": "Telegram Trigger",
      "webhookId": "107e8775-405a-4925-9a6f-51eb21289aa4",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=1766066504",
        "text": "Systia sedang memproses request anda. harap tunggu sebentar.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1424,
        880
      ],
      "id": "e9db2996-0d1e-456e-81b6-8385ac5f10e3",
      "name": "Respon Cepat",
      "webhookId": "3d3d9374-3ef3-4ea6-a10f-77e11c366680",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "95503e69-026f-4a81-a643-2062b6474a6a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "080db788-bb50-462f-b292-df82d993379f",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "title",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "87e9a6ce-9f28-4171-b346-aeb218f66fa2",
                    "leftValue": "={{ $json.message.caption }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1360,
        640
      ],
      "id": "bd927406-9c0f-4088-b6ff-537a3eac64a3",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f91ffd64-a98b-4dbc-8f4b-2d7c39da3c10",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1040,
        496
      ],
      "id": "e5691c31-ab35-4a43-bb94-b5ce3e0d7e67",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Harap ketik /start untuk memulai",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -768,
        272
      ],
      "id": "949b7eb5-0b2d-42f6-9d42-4e1529a1f4a5",
      "name": "Format Salah (False)",
      "webhookId": "0810c582-f2e4-4bfa-9d67-913d365ed7dc",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4eda3d2-0070-41a7-80cd-275611633075",
              "name": "tanggal",
              "value": "={{ $today }}",
              "type": "string"
            },
            {
              "id": "c9307642-09c9-4b93-b26b-da5622231419",
              "name": "tema",
              "value": "Teknologi & Produktivitas",
              "type": "string"
            },
            {
              "id": "a7791ef3-b6a2-4cc0-a20b-d55a98d8e230",
              "name": "waktu",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        480
      ],
      "id": "2a7f7677-984e-444a-a6ca-c4f77532dbc9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Buat rencana konten harian untuk {{ $json.tanggal }} dengan tema  {{ $json.tema }} \n\nSaya mau Anda buatnya dalam bentuk nomor atau point.\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -464,
        480
      ],
      "id": "5de26c62-77e8-4109-9983-3be32f002be8",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -464,
        336
      ],
      "id": "87632a71-f05a-4e1b-9cb6-406aee662195",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ok7plSrqd7SF7ZvN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"time_slot\": \"\",\n    \"title\": \"\",\n    \"platforms\": [],\n    \"focus\": \"\",\n    \"ideas\": []\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -320,
        336
      ],
      "id": "a145d534-c0df-448d-ba7a-85d72ec14e68",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        400
      ],
      "id": "be025211-1c5a-4808-acd5-b8e5d8f91e4b",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "1766066504",
        "text": "=Title: {{ $json.title }}\n\nPlatform: {{ $json.platform }}\n\nIde: {{ $json.ide }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        432
      ],
      "id": "9deb84ce-baf9-49ce-899d-78203d2b146b",
      "name": "Kirim Ide Ke Tim",
      "webhookId": "8533df86-65fd-443a-8310-15240af8d1f5",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92ba26c3-8a53-4669-94c0-2237b71a1ae5",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "4121ab94-a2e5-435c-92d0-65af6e880eed",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "81203f4b-8dde-40d4-acd0-56f30bee5d08",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "string"
            },
            {
              "id": "ed681942-1596-4b96-b36d-5eb502c78d4d",
              "name": "focus",
              "value": "={{ $json.output[0].focus }}",
              "type": "string"
            },
            {
              "id": "81789df5-0ffc-4dab-822f-5419a0f2d298",
              "name": "ide",
              "value": "={{ $json.output[0].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "fd9e7655-4405-4329-8ea3-50d562cf0116",
      "name": "Output1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc38cd3f-8123-4fe5-8763-afb07bb4ac75",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "472d0e20-ad89-40ce-af89-046f8196ba77",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "68bee437-3e23-41b8-8340-1e5ae366fd0f",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "string"
            },
            {
              "id": "26271c0d-f70a-4066-8d82-c3e9a160dcf8",
              "name": "focus",
              "value": "={{ $json.output[0].focus }}",
              "type": "string"
            },
            {
              "id": "76e97134-79a9-450c-99d3-d8c6946a454a",
              "name": "ide",
              "value": "={{ $json.output[0].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ],
      "id": "80f5dc04-5aaa-429b-9e83-87dba5440189",
      "name": "Output2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab0ffd5d-9cb4-4de8-bdee-8c2842dfda38",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "c96341f0-de7d-4ced-966d-a0330c5a3d83",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "5594f258-eaae-413f-a017-546abd016f15",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "string"
            },
            {
              "id": "63d8c931-08e0-49c0-a62d-ed244e2a3a16",
              "name": "focus",
              "value": "={{ $json.output[0].focus }}",
              "type": "string"
            },
            {
              "id": "84a1fbed-e775-4473-9b94-49d0f53bf558",
              "name": "ide",
              "value": "={{ $json.output[0].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        320
      ],
      "id": "66a58ff6-91e0-41a2-9260-064acd8529a0",
      "name": "Output3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f175dc2e-0de4-44d3-a3b9-fb575c8fe2e1",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "0faa5390-5712-4404-8dd5-623c153aad85",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "37ddfbe9-dace-4272-ae66-527221a44df6",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "string"
            },
            {
              "id": "9b125818-5dfe-476d-ae5d-bf47af7b9dc1",
              "name": "focus",
              "value": "={{ $json.output[0].focus }}",
              "type": "string"
            },
            {
              "id": "89684c14-ca7b-4e23-9004-921f04397be5",
              "name": "ide",
              "value": "={{ $json.output[0].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        480
      ],
      "id": "c5e07a9a-5a96-43e8-90d7-7192901a33c1",
      "name": "Output4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -848,
        832
      ],
      "id": "d7015b74-cac3-4f6f-b642-0ec56293ed2f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ok7plSrqd7SF7ZvN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document?.file_id || $json.message.photo?.reverse()[0]?.file_id || $json.message.video?.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1040,
        960
      ],
      "id": "342f10d3-627e-47f1-b421-74e33bd378f0",
      "name": "Get a file",
      "webhookId": "131cc823-3621-4392-8f72-fe1e37780088",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Analyze the image and generate a detailed, cinematic video prompt suitable for Google gemini-2.5. Include:\n- Subject and action (e.g., \"a cat jumping on a sofa\")\n- Setting and background\n- Time of day, lighting, mood\n- Camera movement (e.g., slow zoom, tracking shot)\n- Visual style (e.g., photorealistic, cartoon, cinematic)\n\nKeep it concise (1–2 sentences). Output ONLY the prompt text, no explanation.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -832,
        960
      ],
      "id": "c62eef29-2a5c-4e48-a86f-e686c32a9db6",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "ok7plSrqd7SF7ZvN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 19d6b5b8020febc9531b8bf19c41ea2b"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/image-to-video\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"task_id\": \"task_grok_12345678\",\n    \"image_urls\": [\n      \"https://www.image2url.com/r2/default/images/1777124945415-f20a6171-0eee-4979-bf25-a3a5ac9ec863.jpg\"\n    ],\n    \"prompt\": \"{{ $json.content.parts[0].text }}\",\n    \"mode\": \"normal\",\n    \"duration\": \"6\",\n    \"resolution\": \"480p\",\n    \"aspect_ratio\": \"16:9\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        960
      ],
      "id": "4a5606c8-356a-486b-bee0-be74652cf622",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -400,
        960
      ],
      "id": "359595a6-e148-4170-b775-736a52b84958",
      "name": "Wait2",
      "webhookId": "bfb0a5d9-ff5a-4b1d-a37b-6c9d0ebceeb2"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 19d6b5b8020febc9531b8bf19c41ea2b"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        960
      ],
      "id": "b815b10a-de82-4c3b-bc23-2326a72a47fb",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "jsCode": "// Ambil datanya dengan aman\nconst rawData = $json.data?.resultJson;\n\n// 1. Cek apakah data ada dan tipenya string (JSON)\nif (!rawData || typeof rawData !== 'string' || rawData.trim() === \"\") {\n  // Kalau kosong, balikin array kosong supaya n8n berhenti dengan sopan (bukan error)\n  // Atau balikin null supaya lo tau ini belum siap\n  return []; \n}\n\ntry {\n  // 2. Coba parse JSON\n  const result = JSON.parse(rawData);\n  \n  // 3. Ambil URL video/gambar\n  const url = result.resultUrls?.[0];\n\n  if (!url) return [];\n\n  return [{\n    videoUrl: url\n  }];\n} catch (e) {\n  // 4. Kalau format JSON rusak, jangan bikin workflow merah\n  console.error(\"JSON Error:\", e.message);\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        960
      ],
      "id": "05217d8c-afea-46ce-9f1d-c4961363d998",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        960
      ],
      "id": "d4dd9b05-b489-4f40-9610-4287f55b9ec2",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "name": "Hasil Video",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1JTzhZBvGx7YvH38TMq1pS2L0Smm_3mVY",
          "mode": "list",
          "cachedResultName": "N8N Video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JTzhZBvGx7YvH38TMq1pS2L0Smm_3mVY"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        960
      ],
      "id": "6f9c2127-a536-4421-80df-154d1991ef4c",
      "name": "Upload file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MEYipMlSWNxNmewP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4eda3d2-0070-41a7-80cd-275611633075",
              "name": "tanggal",
              "value": "={{ $today }}",
              "type": "string"
            },
            {
              "id": "c9307642-09c9-4b93-b26b-da5622231419",
              "name": "tema",
              "value": "Teknologi & Produktivitas",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        656
      ],
      "id": "2a25b3f3-adc4-47a5-a37a-24c4c25e6d5f",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Buat rencana konten harian untuk {{ $json.tanggal }} dengan tema {{ $json.tema }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -848,
        656
      ],
      "id": "48336d79-b019-4923-b8a7-809314f4fb80",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc9ea6c5-626c-475b-be5b-796d9578cc68",
              "name": "judul_pilihan",
              "value": "={{ $json.output[0].title || $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        656
      ],
      "id": "10b21e27-38bf-42c0-878c-0b9527d1a143",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 19d6b5b8020febc9531b8bf19c41ea2b"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/text-to-image\",\n  \"input\": {\n    \"prompt\": \"{{ $json.judul_pilihan }}\",\n    \"aspect_ratio\": \"3:2\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -288,
        656
      ],
      "id": "470fee90-77ae-40b5-813b-34b3950b6579",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "amount": 35
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        656
      ],
      "id": "288faad5-03b2-4589-9472-f0510dcaea63",
      "name": "Wait1",
      "webhookId": "e67c9ecc-ab31-4bee-ba61-7866666f8535"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $node[\"HTTP Request3\"].json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 19d6b5b8020febc9531b8bf19c41ea2b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        656
      ],
      "id": "6d7d0fd6-d5e5-4986-b5b2-6a882736ceb9",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "const rawData = $json.data?.resultJson;\nif (!rawData) return [{ img1: null }];\n\ntry {\n  const result = JSON.parse(rawData);\n  const urls = result.resultUrls || [];\n  return [{ \n    img1: urls[0] || null, \n    img2: urls[1] || null, \n    img3: urls[2] || null, \n    img4: urls[3] || null \n  }];\n} catch (e) {\n  return [{ error: \"JSON format invalid\" }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        656
      ],
      "id": "f4593ca4-0a63-48d8-9282-31ac0ce87f03",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "// Mengambil semua kemungkinan gambar dan membuang yang kosong/bukan URL\nconst urls = [$json.img1, $json.img2, $json.img3, $json.img4]\n  .filter(u => typeof u === 'string' && u.startsWith('http'));\n\n// Jika tidak ada URL, kita hentikan workflow agar tidak error di node berikutnya\nif (urls.length === 0) {\n  return []; \n}\n\nreturn urls.map(url => ({ json: { url } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        656
      ],
      "id": "7ef391ae-d090-4c43-9de0-16d0ec1bb2e0",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        656
      ],
      "id": "e13ca1a8-1bbe-444f-8466-f2e362420c4f",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1766066504",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        656
      ],
      "id": "e7ecdb62-37c6-4041-8fb2-0a21731ee136",
      "name": "Send a photo message1",
      "webhookId": "ebd2b234-8169-4318-9b43-6281e18e76d7",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"time_slot\": \"\",\n    \"title\": \"\",\n    \"platforms\": [],\n    \"focus\": \"\",\n    \"ideas\": []\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -704,
        832
      ],
      "id": "24e044ed-4dd1-47ae-a50f-fc0afecf0785",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -912,
        1376
      ],
      "id": "d0f0b3ca-1540-4a68-a6b2-42755fa1ff93",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "ok7plSrqd7SF7ZvN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4eda3d2-0070-41a7-80cd-275611633075",
              "name": "tanggal",
              "value": "={{ $today }}",
              "type": "string"
            },
            {
              "id": "c9307642-09c9-4b93-b26b-da5622231419",
              "name": "tema",
              "value": "Teknologi & Produktivitas",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        1200
      ],
      "id": "8445bc1f-1fb0-44a0-a5b8-0d0730b49e8f",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Buat rencana konten harian untuk {{ $json.tanggal }} dengan tema {{ $json.tema }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -912,
        1200
      ],
      "id": "4f557b54-85fe-4a4d-986e-4bb0759f56e2",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc9ea6c5-626c-475b-be5b-796d9578cc68",
              "name": "judul_pilihan",
              "value": "={{ $json.output[0].title || $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        1200
      ],
      "id": "a549bc20-de11-4fd9-9ff2-cd29f477d1fd",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 19d6b5b8020febc9531b8bf19c41ea2b"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/text-to-image\",\n  \"input\": {\n    \"prompt\": \"{{ $json.judul_pilihan }}\",\n    \"aspect_ratio\": \"3:2\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -352,
        1200
      ],
      "id": "f2c7b82e-0e49-43d7-ab3c-ec2e428047a0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 35
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -144,
        1200
      ],
      "id": "82c0f36f-ec2c-46c3-834d-aab109d0df35",
      "name": "Wait",
      "webhookId": "e67c9ecc-ab31-4bee-ba61-7866666f8535"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $node[\"HTTP Request\"].json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 19d6b5b8020febc9531b8bf19c41ea2b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        1200
      ],
      "id": "e32180ba-35bd-42ff-840b-dd5f5083fb00",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "jsCode": "const rawData = $json.data?.resultJson;\nif (!rawData) return [{ img1: null }];\n\ntry {\n  const result = JSON.parse(rawData);\n  const urls = result.resultUrls || [];\n  return [{ \n    img1: urls[0] || null, \n    img2: urls[1] || null, \n    img3: urls[2] || null, \n    img4: urls[3] || null \n  }];\n} catch (e) {\n  return [{ error: \"JSON format invalid\" }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        1200
      ],
      "id": "3a2dbd3c-04e3-4256-9a7c-afad983e9657",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const urls = [$json.img1, $json.img2, $json.img3, $json.img4]\n  .filter(u => typeof u === 'string' && u.startsWith('http'));\n\nif (urls.length === 0) {\n  return []; \n}\n\nreturn urls.map(url => ({ json: { url } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        1200
      ],
      "id": "ff7963ae-9f63-40fa-aba0-6bf3b551157b",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        1200
      ],
      "id": "a2b4be61-00d2-4c95-8736-4cc3eefa1f04",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1766066504",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        1200
      ],
      "id": "cbaab963-412c-4d89-9b6d-4bdc6c4bdf11",
      "name": "Send a photo message",
      "webhookId": "42eedca5-e6ba-4c40-8767-8183acf7abbc",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"time_slot\": \"\",\n    \"title\": \"\",\n    \"platforms\": [],\n    \"focus\": \"\",\n    \"ideas\": []\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -768,
        1376
      ],
      "id": "d938db61-4742-4df9-a794-119e0da9356f",
      "name": "Structured Output Parser2"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Respon Cepat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Salah (False)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Output1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Kirim Ide Ke Tim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Output3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Output4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Send a photo message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c242eeb2-0cb2-42a9-b3e0-8d71209c6f35",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdda6c5a178fd429ae4e8a2b8a0fde1535e9d34e75c3c9330c0155f848e4432c"
  },
  "id": "QrDGFseX0ZCJ0KEw",
  "tags": []
}